body{
    overflow-x: hidden;
}

.image {
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

}

 .middle {
 

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

} 
 .container1:hover .image {
    opacity: 1;
}

.container1:hover .middle {
    opacity: 1;
} 

.text1 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 50px 32px;
}






.heading {
    text-align: center;
    color: red;
    padding: 30px 0;
    text-transform: uppercase;
}

.ExplorePageInside {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



} 



.container {
    width: 100%;

}

.container1 {
    position: relative;
  
}
 


.image {
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

 .middle {
 

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

} 
 .container1:hover .image {
    opacity: 1;
}

.container1:hover .middle {
    opacity: 1;
} 

.text1 {
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 50px 32px;
}






.heading {
    text-align: center;
    color: red;
    padding: 30px 0;
    text-transform: uppercase;
}


.hover10 figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover10 figure:hover img {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}

    
.text {
    color: beige;
    opacity: 2;
}





.TextBoxHeading {
    color: white
}



.imageBoxInside img {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 300px;

}


